/* Rule so that the table tree view works with word-wrap: break-word. */
.report_assignfeedback_download .content table {
    table-layout: fixed;
    width: 100%;
}

table.flexible.table.assignfeedback_download > thead > tr > th:first-of-type {
    vertical-align: bottom;
}

table.flexible.table.assignfeedback_download > thead > tr > th:nth-of-type(2) {
    vertical-align: top;
}

tbody#iassignfeedbacktb > tr > td {
    vertical-align: middle;
}

table.feedbackfilestv th,
table.feedbackfilestv td {
    padding: 0;
    background-color: white;
    border-top: 0 !important;
}

table.innertable {
    width: 100%;
}


tbody#iassignfeedbacktb > tr {
    vertical-align: middle;
}

i.fa.fa-question-circle.qcomment {
    color: #66A8D8;
}

.frubric-container {
    cursor: pointer;
}

select#id_assessments {
    width: max-content;
    height: 21vh;
}