/* Rule so that the table tree view works with word-wrap: break-word. */
.report_assignfeedback_download  .content table {
    table-layout: fixed;
    width: 100%;
}

table.feedbackfilestv th,
table.feedbackfilestv td {
    padding: 0;
    background-color: white;
    border-top: 0 !important;

}