<form class="gradingbatchoperationsform mform" autocomplete="off"
    action="{{actionurl}}" method="post" accept-charset="utf-8"
    id="{{formid}}" data-boost-form-errors-enhanced="1">
    <div style="display: none;">
        <input name="id" type="hidden" value="{{id}}">
        <input class="selectedusers" name="selectedusers" type="hidden" value="">
        <input name="sesskey" type="hidden" value="{{sessionkey}}">
        <input name="instanceids" type="hidden" value="">
        <input name="itemids" type="hidden" value="">
        <input name="cmids" type="hidden" value="">
        <input name="frubricdetails" type="hidden" value="">
    </div>

    <div id="fgroup_id_actionsgrp" class="form-group row  fitem   " data-groupname="actionsgrp">
        <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
            <p id="fgroup_id_actionsgrp_label" class="mb-0 word-break" aria-hidden="true" style="cursor: default;">
               {{#str}} withselectedlegend, report_assignfeedback_download{{/str}}
            </p>

            <div class="ml-1 ml-md-auto d-flex align-items-center align-self-start"></div>
        </div>
        <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="group">
            <fieldset class="w-100 m-0 p-0 border-0">
                <legend class="sr-only"> {{#str}} withselectedlegend, report_assignfeedback_download{{/str}}</legend>
                <div class="d-flex flex-wrap align-items-center">

                    <div class="form-group  fitem">
                        <label class="col-form-label sr-only" for="id_operation">
                            {{#str}} chooseoperation, report_assignfeedback_download{{/str}}
                        </label>
                        <i class="icon fa fa-question-circle text-info fa-fw " title="{{#str}}select_help, report_assignfeedback_download {{/str}}" role="img" aria-label=""
                        data-toggle="tooltip" data-placement="top"></i>
                        <span data-fieldtype="select">
                            <select class="custom-select" disabled name="operation" id="id_operation">
                                <option value="dldsubmission" {{#noexistsubmissions}}disabled{{/noexistsubmissions}}>{{#str}} dldsubmission, report_assignfeedback_download{{/str}}</option>
                                <option value="dldsubmissiononlinetext" {{#noexistsubmissiononlinetext}}disabled{{/noexistsubmissiononlinetext}}>{{#str}} dldsubmissiononlinetext, report_assignfeedback_download{{/str}}</option>
                                <option value="dldsubmissiononlinetextexcel" {{#noexistsubmissiononlinetext}}disabled{{/noexistsubmissiononlinetext}}>{{#str}} dldsubmissiononlinetextexcel, report_assignfeedback_download{{/str}}</option>
                                <option value="dldfeedbackf" {{#noexistfeedbackfiles}}disabled{{/noexistfeedbackfiles}}>{{#str}} dldfeedbackf, report_assignfeedback_download{{/str}}</option>
                                <option value="dldfeedbackcomments" {{#noexistfeedbackcomments}}disabled{{/noexistfeedbackcomments}}>{{#str}} dldfeedbackcomments, report_assignfeedback_download{{/str}}</option>
                                <option value="dldanotated" {{#noexistannotatedpdffiles}}disabled{{/noexistannotatedpdffiles}}>{{#str}} dldanotated, report_assignfeedback_download{{/str}}</option>
                                <option value="dldrubric" {{#noexistfrubrics}}disabled{{/noexistfrubrics}}>{{#str}} dldrubric, report_assignfeedback_download{{/str}}</option>
                                <option value="dldgrades" {{#noexistgrades}}disabled{{/noexistgrades}}>{{#str}} dldgrades, report_assignfeedback_download{{/str}}</option>
                            </select>
                        </span>
                        <div class="form-control-feedback invalid-feedback" id="id_error_operation"></div>
                    </div>

                    <div class="form-group  fitem  ">
                        <span data-fieldtype="submit">
                            <input type="submit" class="btn btn-primary" disabled name="submit" id="id_submit" value="Go">
                        </span>
                        <div class="form-control-feedback invalid-feedback" id="id_error_submit"></div>
                    </div>
                </div>
            </fieldset>
            <div class="form-control-feedback invalid-feedback" id="fgroup_id_error_actionsgrp"></div>
        </div>
    </div>
</form>

{{#js}}
require(['report_assignfeedback_download/report_control'], function(module) {
    module.init();
});
{{/js}}