<h2>Assignment Reports</h2>
<a href="{{{feedbackdownloaderurl}}}" title='Assessment feedback downloader (ONLY for Assigments with submission)'>Assessment feedback and grades downloader</a>
<br>
<a href="{{{assignmentreporturl}}}" title='Assessment general reports'>Assessment Report</a>