<div class = 'report-container'>
{{^noresult}}
    {{#filter}}
    {{> report_assignfeedback_download/user_table }}
    <hr>
    {{> report_assignfeedback_download/action_form }}
    {{/filter}}
{{/noresult}}


</div>
