<table  class="flexible table ibasessment">
    <thead>
        <tr>
            <th>{{#str}}select, report_ibassessment{{/str}} <br>
                <input type="checkbox" name="select_all" id="selectall">
            </th>
            <th>{{#str}}nameheader, report_ibassessment{{/str}}</th>
            <th>{{#str}}assessmentheader, report_ibassessment{{/str}}</th>
            <th>{{#str}}fileattach, report_ibassessment{{/str}}</th>
        </tr>
    </thead>
    <tbody id = "ibasesstableb">
        {{#users}}
        <tr>
            <td><input type="checkbox" name="" id="user_{{id}}"></td>
            <td> {{firstname}} {{lastname}}</td>
            <td>Assesment name</td>
            <td>
                {{{files}}}
            </td>

        </tr>
        {{/users}}
    </tbody>
</table>

