<table  class="flexible table assignfeedback_download">
    <thead>
        <tr>
            <th>{{#str}}select, report_assignfeedback_download{{/str}} <br>
                <input type="checkbox" name="select_all" id="selectall">
            </th>
            <th>{{#str}}nameheader, report_assignfeedback_download{{/str}}</th>
            <th>{{#str}}assessmentheader, report_assignfeedback_download{{/str}}</th>
            <th>{{#str}}fileattach, report_assignfeedback_download{{/str}}</th>
            <th>{{#str}}annotatepdf, report_assignfeedback_download{{/str}}</th>
            <th>{{#str}}feedbackfiles, report_assignfeedback_download{{/str}}</th>
            
        </tr>
    </thead>
    <tbody id = "iassignfeedbacktb">
        {{#users}}
        <tr>
            <td><input type="checkbox" id="user_{{id}}"></td>
            <td> {{{namelastname}}}</td>
             <td>
            {{#assessments}} 
                <ul>
                    <li>
                        {{assignmentname}}
                    </li>
                </ul>
             {{/assessments}}
             </td>
        </tr>

        {{/users}}
    </tbody>
</table>

